.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.container-flex {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  min-height: calc(100vh - (64px * 2) - (16px * 2));
}

@media only screen and (max-width: 599px) {
  .container-flex {
    min-height: calc(100vh - (56px * 2) - (16px * 2));
  }
}

@media only screen and (min-width: 600px) {
  .container-flex {
    min-height: calc(100vh - (64px * 2) - (16px * 2));
  }
}

.container-main-menu {
  width: 30%;
  margin-right: 8px;
}

.container-main {
  width: 70%;
  margin-left: 8px;
}

.footer {
  position: sticky;
  bottom: 0;
  background: var(--primary-color);
  height: auto;
  color: var(--text-primary-color);
}
