@use './app/core/templates/canteras-2022/theme.scss';
@use './app/core/templates/canteras-2022/scroll.scss';

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: url(./assets/img/background.png) fixed;
  background-size: cover;
  opacity: 0.97;
}

.sofka-container {
  // border: 1px solid #c3c3c3;
}

// XS
@media only screen and (max-width: 575px) {
  .sofka-container {
    width: 100%;
  }
}

// SM
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .sofka-container {
    width: 540px;
    margin: 0 auto;
  }
}

// MD
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sofka-container {
    width: 720px;
    margin: 0 auto;
  }
}

// LG
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .sofka-container {
    width: 960px;
    margin: 0 auto;
  }
}

// XL
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .sofka-container {
    width: 1140px;
    margin: 0 auto;
  }
}

// XXL
@media only screen and (min-width: 1400px) and (max-width: 1919px) {
  .sofka-container {
    width: 1400px;
    margin: 0 auto;
  }
}

// FHD
@media only screen and (min-width: 1920px) {
  .sofka-container {
    width: 1840px;
    margin: 0 auto;
  }
}

.mat-card {
  background-color: var(--backgraund-light-color);
}

.mat-nav-list .active {
  border-radius: 4px;
  color: var(--text-accent-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 0px 0px 0px var(--primary-darker-color);
  box-shadow: 0px 0px 0px 0px var(--primary-darker-color);
}

.mat-nav-list .active:hover,
.mat-nav-list .active:focus {
  color: var(--text-primary-color);
  background-color: var(--primary-color);
}

.mat-nav-list .active:focus {
  -webkit-box-shadow: 0px 0px 8px 0px var(--primary-darker-color);
  box-shadow: 0px 0px 8px 0px var(--primary-darker-color);
  animation-name: active-shadow-in;
  animation-duration: 0.3s;
}

.mat-nav-list .active:not(:focus) {
  animation-name: active-shadow-out;
  animation-duration: 0.3s;
}

@keyframes active-shadow-in {
  0% {
    color: var(--text-accent-color);
    background-color: var(--accent-color);
    -webkit-box-shadow: 0px 0px 0px 0px var(--primary-darker-color);
    box-shadow: 0px 0px 0px 0px var(--primary-darker-color);
  }
  100% {
    color: var(--text-primary-color);
    background-color: var(--primary-color);
    -webkit-box-shadow: 0px 0px 8px 0px var(--primary-darker-color);
    box-shadow: 0px 0px 8px 0px var(--primary-darker-color);
  }
}

@keyframes active-shadow-out {
  0% {
    color: var(--text-primary-color);
    background-color: var(--primary-color);
    -webkit-box-shadow: 0px 0px 8px 0px var(--primary-darker-color);
    box-shadow: 0px 0px 8px 0px var(--primary-darker-color);
  }
  100% {
    color: var(--text-accent-color);
    background-color: var(--accent-color);
    -webkit-box-shadow: 0px 0px 0px 0px var(--primary-darker-color);
    box-shadow: 0px 0px 0px 0px var(--primary-darker-color);
  }
}

.mat-list-base .mat-list-item .mat-line {
  display: flex;
  align-items: center;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
